@charset "utf-8";

html {}

body {}

/* header */
header {
  background: #186AC9;
}

#head {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

header h1 {
  display: block;
  margin: auto 20px;

}

header h1 img {
  height: 30px;
}

#flex_nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: auto 10px;
  position: relative;
}

header p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto 10px;
}

header nav summary {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin: auto 20px;
}

header nav details:open summary {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
  transition: 0.3s;
}

header nav ul {
  position: absolute;
  top: 55px;
  right: -10px;
  width: 100%;

}

header nav a {
  border: solid 2px #186AC9;
  margin: 0;
  padding: 15px 10px;
  background-color: #fff;
  display: block;
  font-size: 14px;
  color: #727272;
  text-align: center;

  &:hover {
    background-color: #186AC9;
    color: #fff;
    text-decoration: none;

  }
}

div .icon img {
  height: 40px;
}

/* -------------------モーダル  */

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.modal_bg {
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
}

.modal_window {
  height: 300px;
  width: 700px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  padding: 20px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


form .modal_post {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: block;
  resize: none;
  border: solid 1px #808080;
}




/* --------------------main content */
#row {
  display: flex;
  flex-flow: row wrap;
}

#container {
  flex: 0 0 80%;
}

#container .flex {
  display: flex;
}

/* ---------------------Post投稿画面 */

#container .post_box {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#container .post_icon {
  height: 40px;
  margin-bottom: 50px;
  margin-right: 20px;
}

#container .texts {
  height: 100px;
  width: 400px;
  overflow: auto;
  border: none;
  background-color: #f5f8fa;
  resize: none;
}

#container .post_btn {
  height: 40px;
  width: 40px;
}

#container hr {
  border-top: 5px solid #eee;
}

#side-bar {
  flex: 0 0 19%;
  border-left: 1px solid #727272;
}

#container .post_line {
  height: 20px;
  width: 300px;
}

#container .line_icon {
  margin-left: auto;
}

#container .post_text {
  height: 20px;
  width: 350px;
}

#container .post_text span {
  font-weight: bold;
}

#container .post_time {
  margin: 0 40px 0 20px;
  text-align: right;
  width: 30%;
}

#container .btn_box {
  display: flex;
  justify-content: end;
  margin: 0 10px;
}

#container .btn_box input {
  margin: 0;
  height: 50px;
  width: 50px;
}

#container .post_item hr {
  border-top: 1px solid #ccd0d2;
  margin-top: 0;
}








/* プロフィール更新 */
.flex {
  display: flex;
  margin: 40px auto;
  margin-bottom: 10px;
  position: relative;
  justify-content: center;
}

#container .icon {
  height: 40px;
  margin-right: 20px;
}

#container .form-control {
  display: block;
  margin: 10px auto;
}

#container input {
  margin: 10px 40px;
  width: 300px;
}

#container table input {
  background-color: lightgrey;
}

input[type=file] {
  display: block;
  top: 0;
  left: 0;
  height: 40px;
  border: 1px solid #ccd0d2;
}


#container .btn-danger {
  display: block;
  margin: 0px auto;
  width: 200px;
}
