@charset "utf-8";

html {}

body {}

/* header */
header {
  background: #186AC9;
}

#head {

  display: flex;
  justify-content: space-between;
  height: 70px;
}

header h1 {
  display: block;
  margin: auto 20px;
}

header h1 img {
  height: 30px;
}

#flex_nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: auto 10px;
  position: relative;
}

#confirm {
  margin: 20px 20px;
}

#confirm .count_btn {
  text-align: right;
}

#confirm .count_btn a {
  width: 130px;
}


header p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto 10px;
}

header nav summary {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin: auto 20px;
}

header nav details:open summary {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
  transition: 0.3s;
}

header nav ul {
  position: absolute;
  top: 55px;
  right: -10px;
  width: 100%;
}

header nav a {
  border: solid 2px #186AC9;
  margin: 0;
  padding: 15px 10px;
  background-color: #fff;
  display: block;
  font-size: 14px;
  color: #727272;
  text-align: center;

  &:hover {
    background-color: #186AC9;
    color: #fff;
    text-decoration: none;

  }
}

div .icon img {
  height: 40px;
}

/* -------------------モーダル  */

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.modal_bg {
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
}

.modal_window {
  height: 300px;
  width: 700px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  padding: 20px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form .modal_post {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  display: block;
  resize: none;
  border: solid 1px #808080;
}




/* --------------------サイドバー content */
#row {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

#container {
  flex: 0 0 80%;
}

#side-bar {
  flex: 0 0 19%;
  border-left: 1px solid #727272;
  height: auto;
}

#side-bar .user-seach {
  text-align: center;
}

#side-bar .user-seach a {
  width: 150px;
}

#side-bar .count {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

/* ---------------------Post投稿画面 */

#container .flex {
  display: flex;
  padding: 0 20px;
}

#container .post_box {
  display: flex;
  margin: 20px auto;
}

#container .post_img {
  height: 50px;
  margin: 0 20px auto 60px;
}

#container .post_icon {
  height: 40px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 90px;
}

#container .post_box form {
  width: auto;
}

.post_box .post {
  margin: auto 0 0 10px;
}

#container .texts {
  height: 100px;
  width: 600px;
  overflow: auto;
  border: none;
  background-color: #f5f8fa;
  resize: none;
  white-space: pre-wrap;
}

#container .post_btn {
  height: 40px;
  width: 40px;
}

#container hr {
  border-top: 5px solid #eee;
}


#container .post_text {
  height: 20px;
  width: 350px;
}

#container .text_bold {
  font-weight: bold;
}

#container .post_time {
  margin: 0 0 0 auto;
}

#container .btn_box {
  display: flex;
  justify-content: end;
  margin: 5px 10px;
}

#container .btn_box input {
  margin: 0;
  height: 50px;
  width: 50px;
}

#container .wrapper hr {
  border-top: 1px solid #ccd0d2;
  margin-top: 0;
}


/* --------------フォロー・フォロワーリスト */
#container .follow {
  height: 100px;
  display: flex;
  justify-content: left;
  margin: 20px 20px;
}

#container h2 {
  font-size: 20px;
  width: 20%;
  text-align: center;
}

#container .follow_item {
  display: flex;
  flex-wrap: wrap;
}

#container .follow_item a {
  flex: 10%;
}

#container .follow img {
  height: 40px;
  margin: 2px;
}


/*--------------- 検索ページ */
.seach_box {
  align-items: center;
  margin: 50px 0;
}

.seach {
  display: flex;
  justify-content: left;
  margin: 20px 60px;
  align-items: center;
  height: 100px;
}

.seach form {
  display: flex;
}

.seach .search-control {
  width: 300px;
  margin: auto 0;
  height: 40px;
  border-radius: 5px;
  border-color: lightgrey;
}

.seach_img {
  height: 40px;
  margin: 0 20px;
}

.seach_word {
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.seach_word p {
  margin: 0;
}

.seach_icon img {
  height: 40px;
  margin: 0 20px;
}

.seach_name {
  width: 200px;
}

.seach_name p {
  margin: 0;
}

/*--------------- プロフィール更新ブレード */
.flex {
  display: flex;
  position: relative;
  justify-content: center;
}

#container .form_box {
  margin-top: 10px;
}

#container .icon {
  height: 40px;
}

#container .form-control {
  display: block;
}

#container .profilebox {
  margin: 0 30px;
}

#container table input {
  margin: 10px 40px;
  width: 300px;
  background-color: lightgrey;
  cursor: pointer;
}

#container .file_btn {
  margin: 15px auto;
  height: 90px;
  width: 300px;
  background-color: lightgray;
  border-radius: 5px;
  place-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#container .file_btn span {
  display: block;
  background-color: #fff;
  margin: 0;
  width: fit-content;
  padding: 5px 10px;
  font-size: 17px;
  color: lightgray;
}

input[type=file] {
  display: none
}

#container .profile_update {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* -------------------フォロワープロフィール */
#container .userbox {
  margin: 20px 20px;
  height: 100px;
}

#container table {
  margin: 0 30px;
}

#container table tr th {
  margin-right: 60px;
  display: block;
}

#container .user_follow {
  display: block;
  margin: auto 0 0 auto;
}
